footer {
  background-color: #759e65; /* light green */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  font-family: Georgia, serif;
}

/* Left */
.footer-left h3 {
  letter-spacing: 5px;
  color: #2d4a2d;
  font-weight: normal;
}

/* Center Icons */
.footer-center {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.footer-center a {
  color: #2d4a2d;
  background: white;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-center a:hover {
  background-color: #2d4a2d;
  color: white;
}

/* Right */
.footer-right {
  font-size: 14px;
  color: #2d4a2d;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-right {
    font-size: 12px;
  }
}
