
.navbar {
  display: flex;
  flex-direction: column;
  padding: 20px 70px;
  background-color: #a8c79f;
} 

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Left Logo */
.logo-img {
  width: 75px;
}  


.title-section {
  text-align: center;
  flex: 1;
  background: color #2f5d34;}
    

 .main-title {
  margin: 0;
  font-size: 30px;
  color: #2d5f2f;
  font-weight: 600;
  letter-spacing: 1px;}
 

.sub-title {
  margin: 5px 0 0 0;
  font-size: 13px;
  letter-spacing: 4px;
  color: #2d5f2f;

  border-top: 2px solid #2d5f2f;
  border-bottom: 2px solid #2d5f2f;
  padding: 4px 12px;
  display: inline-block; }  



/* Profile Icon */
.profile-icon {
  font-size: 20px;
  background: #2d5f2f;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;}
.menu-bar {
  display: flex;
  justify-content: center;
  background-color: #b9d3b1;
  margin: 10px auto;
  width: 85%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
} 

/* ===== Menu Items ===== */
.menu-item {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  text-decoration: none;
  color: #2e5e2e;
  font-size: 18px;
  border-right: 1px solid #3a6b3a;
  transition: 0.3s;
}

/* Remove last border */
.menu-item:last-child {
  border-right: none;
}

/* Hover Effect */
.menu-item:hover {
  background-color: #a8c69f;
} 

/* Active Tab */
.menu-item.active {
  background-color: #f2a640;
  color: darkblue;
  font-weight: bold;}
.menu-item.active {
  background-color: orange;}
/* Background area */
.navbar-container {
  background-color: transparent;
  padding: 25px 0;
  display: flex;
  justify-content: center;
}

/* Rounded pill menu */
.nav-pill {
  display: flex;
  background-color: #c8dfba;
  border-radius: 40px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Each nav item */
.nav-item {
  padding: 14px 35px;
  text-decoration: none;
  color: #2f4f2f;
  font-family: "Georgia", serif;
  font-size: 18px;
  transition: 0.3s ease;
  border-right: 1px solid #8cae7c;
}

/* Remove last border */
.nav-item:last-child {
  border-right: none;
}

/* Active tab (orange highlight like Zen Abodes) */
.nav-item.active {
  background-color: #f2a541;
  color: #ffffff;
}

/* Hover effect */
.nav-item:hover {
  background-color: #f2a541;
  color: #ffffff;
}  





