
.card {
  background-color: aqua;
  padding: 50vmin;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0dvb;
}
body {
  margin: 0;
}


